.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-block {
    width: 250px;
    height: 222px;
    padding: 30px;
    background: #C4C4C4;
}

.grid-block:not(:last-child) {
    margin-bottom: 20px;
}

.grid-paragraph {
    width: 170px;
    font-size: 14px;
    background: #DDDDDD;
    color: #000000;
}

.grid-button {
    width: 100%;
    padding: 0 96px 0 16px;
    background: #BB0000;
    border: none;
}

img {
    width: 100%;
}

/* menu */

ul {
    list-style: none;
    display: flex;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
}

.nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

nav {
    display: flex;
    width: 700px;
    height: 60px;
    margin-left: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

ul > li:first-child {
    grid-column: 1/ span 1;
    margin-right: 200px;
    font-size: 20px;
    font-weight: 600;
    color: #414ceb;
}

li:not(:first-child) {
    grid-column: auto/ span 1;
    margin-right: 20px;
}

.div-btn {
    align-items: center;
    margin: auto;
}

.button {
    padding: 10px 15px;
    background-color: #414ceb;
    color: white;
    border-radius: 5px;
    border: none;
}

/* maket */

h2 {
    margin-left: 20px;
}

.container {
    margin-left: 20px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 700px;
    height: 500px;
    gap: 10px;
}

.container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C4C4C4;
}

.container > div:first-child {
    grid-column: 1/ span 5;
}

.container >div:nth-child(2) {
    grid-column: auto/ span 3;
}

.container >div:nth-child(3) {
    grid-column: auto/ span 4;
}

.container >div:nth-child(4) {
    grid-column: 1 / span 8;
}

.container >div:nth-child(5) {
    grid-column: auto / span 4;
    grid-row: auto / span 2;
}

.container >div:nth-child(6) {
    grid-column: 1 / span 8;
}