ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

.block {
    width: 200px;
    height: 200px;
    background-color: blue;
    border: solid red 4px;
}

.block__two {
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    border: double black 10px;
    border-radius: 50%;
}

table {
    width: 500px;
    border: 1px black;
}

thead {
    height: 50px;
    text-align: center;
    background-color: blue;
}

tbody {
    height: 12em;
    text-align: center;
    background-color: darkorange;
}

th {
    font-weight: 500;
    color: white;
}

td {
    font-weight: 600;
    color: black;
}

.rounding__one {
    border-radius:  10px 0 0 0;
}

.rounding__two {
    border-radius: 0 10px 0 0;
}

.rounding_three {
    border-radius: 0 0 0 10px;
}

.rounding__four {
    border-radius: 0 0 10px 0;
}

.example {
    color: black;
    font-style: italic;
    font-size: 20px;
}

sub {
    font-style: normal;
    color: blue;
}

sup {
    font-style: normal;
    color: red;
}

.container {
    width: 500px;
    height: 40px;
    background-color: rgb(151, 52, 52);
    padding-top: 15px;
}

.link {
    font-size: 20px;
    font-style: italic;
    padding-left: 15px;
    color: red;
}

.link__two {
    font-size: 20px;
    font-style: italic;
    padding-left: 15px;
    color: chartreuse;
}

.link__three {
    font-size: 20px;
    font-style: italic;
    padding-left: 15px;
    color: aqua;
}

.diagram {
    width: 250px;
    height: 250px;
    background-image: conic-gradient(orange 64%, blue 17%, black);
    border-radius: 50%;
}

.japan {
    width: 300px;
    height: 200px;
    border: 2px solid #ccc;
    background: radial-gradient(circle, #bc002d 58px, #fff 60px);
}

.russia {
    border: 2px solid #ccc;
    width: 300px;
}

.top {
    background-color: white;
    height: 80px;
}

.mid {
    background-color: blue;
    height: 80px;
}

.bottom {
    background-color: red;
    height: 80px;
}

.button {
    margin: 25px 25px;
    padding: 25px 40px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 600;
    box-shadow: inset 0 0 6px;
}

/*form*/

.block-form {
    margin-top: 30px;
    width: 600px;
    height: 500px;
    background-color: hsla(0, 0%, 87%, 0.6);
}

.title-form {
    margin-left: 15px;
}

.field {
    margin-top: 30px;
    margin-left: 15px;
    font-weight: 600;
}

.frw1 {
    margin-left: 112px;
    width: 230px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 22px;
    margin-top: 25px;
}

.frw2 {
    margin-left: 98px;
    width: 244px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 22px;
}

.frw3 {
    margin-left: 90px;
    width: 252px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 22px;
}

.frw4 {
    margin-left: 42px;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}

.frw5 {
    margin-left: 18px;
    width: 325px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
}

.mail {
    /* font-size: 15px; */
    text-align: right;
}

.frw6 {
    margin-left: 10px;
    width: 333px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 30px;
}

.block-button {
    margin-left: 165px;
}

.button-one {
    padding: 5px 10px;
    background-color: rgb(113, 145, 243);
    color: white;
    border-radius: 5px;
    border: none;
}

.button-two {
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
}

/*menu*/

.menu {
    width: 70px;
    position: relative;
    margin: 30px 0 100px 30px;
}

.menu__content {
    z-index: 3;
    top: 17px;
    position: absolute;
    display: none;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
}

.menu__list {
    padding: 10px;
    width: 120px;
    list-style: none;
    margin: 0;
    background: transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.menu__button {
    color: blue;
    font-size: 1em;
    border: none;
    background: transparent;
    padding: 5px 15px;
}

.menu:hover .menu__content {
    display: block;
}

.menu:hover .menu__button {
    box-shadow: 0 -8px 5px rgba(143, 142, 142, 0.6);
}

.menu__button:hover {
    color: brown;
    box-shadow: 0 -8px 5px rgba(143, 142, 142, 0.6);
}

.menu__item-link {
    color: blue;
    cursor: pointer;
}

.menu__item:hover{
    background: rgb(89, 131, 239);
}

.menu__item:hover > a {
    color: white;
}

menu:hover .menu__list {
    display: block;
}

.wrap {
    margin: 25px 25px;
    width: 500px;
    height: 200px;
    background-color: #fff;
    box-shadow: 4px 4px 8px;
}

.wrap_paragraph-one {
    padding-top: 25px;
}

.wrap_paragraph {
    padding-left: 15px;
    font-size: 16px;
    line-height: normal;
    font-weight: 500;
    cursor: pointer;
}

.wrap_paragraph:not(:last-child) {
    margin-bottom: 25px;
}

.module {
    margin: 25px 25px;
    position: relative;
    width: 400px;
}

.module:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    bottom: 3px;
    right: 3px;
    background-color: #fff;
    z-index: 1;
    border-radius: 4px;
}

.module:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #1b3640, #95ecd8, #ffdc18, #ff3706);
    z-index: -1;
    border-radius: 4px;
}

.module-content {
    z-index: 999;
    position: relative;
    padding: 10px 30px;
    font-size: 16px;
}

.menu-4 {
    display: flex;
    margin-top: 20px;
    background: linear-gradient(to bottom, white, rgb(123, 142, 60));
    size: 50px;
    width: 400px;
    -webkit-border-top-right-radius: 150px;
    -webkit-border-bottom-right-radius: 150px;
    -moz-border-radius-topright: 150px;
    -moz-border-radius-bottomright: 150px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
}

.menu-4 a {
    text-decoration: none;
}

.menu-4 li {
    padding: 10px;
    border-right: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    -webkit-box-shadow: 5px 1.5px 2px -2px rgba(34, 60, 80, 1);
    -moz-box-shadow: 5px 1.5px 2px -2px rgba(34, 60, 80, 1);
    box-shadow: 5px 1.5px 2px -2px rgba(34, 60, 80, 1);
}

.menu-5 {
    display: flex;
    width: 200px;
    height: 40px;
    background-color: #99699c;
    margin-top: 25px;
}

.menu-5 li {
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    border: 2px solid white;
}

.menu-5 a {
    margin: 10px;
    width: 15px;
    height: 15px;
    display: block;
}

.menu-5 li:hover {
    background-color: red;
    -webkit-box-shadow: 0px 0px 14px 10px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 14px 10px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 14px 10px rgba(255, 255, 255, 1);
}

.circle-menu {
    width: 22vw;
    height: 4vw;
    margin: 0 auto;
    background-color: #0f4c5c;
}

.radio {
    opacity: 0;
    margin: 22px 0 0 28px;
}

.radio + label {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
}

.radio + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 18px;
    height: 18px;
    border: 4px solid #CDD1DA;
    border-radius: 50%;
    background: black;
}
.radio + label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 4px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: brown;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
    opacity: 0;
    transition: .2s;
}
.radio:checked + label:after {
    opacity: 1;
}
.radio:focus + label:before {
    box-shadow: 0 0 0 3px rgba(231, 231, 239, 0.7);
}


.link-button {
    margin-top: 20px;
    display: inline-block;
    background: #353d44;
    color: #fff;
    padding: 5px 8px;
    text-decoration: none;
    border-radius: 4px;
}