.triangle-left {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 100px solid red;
    border-bottom: 50px solid transparent;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid red;
    border-bottom: 50px solid transparent;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
    margin-bottom: 18px;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
}

.title {
    font-size: 25px;
}

strong {
    color: blue;
}

p {
    margin-top: 0;
}

.li-four {
    font-size: 25px;
    color: blue;
}
.li-one {
    font-size: 25px;
    color: blue;
}
.li-three {
    font-size: 25px;
    color: blue;
}
.li-five {
    font-size: 25px;
    color: blue;
}

.blue::-moz-selection{
    background-color: rgb(95, 167, 226);
}
.blue::selection{
    background-color: rgb(95, 167, 226);
}

.red::-moz-selection{
    background-color: rgb(226, 99, 95);
}
.red::selection{
    background-color: rgb(226, 99, 95);
}

::-webkit-input-placeholder {
    color:blue;
    background-color: grey;
}

.input:hover{
    width: 200px;
    box-shadow: 0 0 5px 2px;
}

.input:hover::placeholder{
    color: lawngreen;
}

.test1 {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid red;
    margin-top: 20px;
    display: inline-block;
}

.checkbox {
    position: absolute;
    opacity: 0;
}

.checkbox + label {
    position: relative;
    padding: 0 0 0 60px;
    cursor: pointer;
}

.checkbox + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
    transition: .2s;
}
.checkbox + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: .2s;
}

.checkbox:checked + label:before {
    background: red;
}
.checkbox:checked + label:after {
    left: 26px;
}
.checkbox:focus + label:before {
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(33,33,0,.7);
}


.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}
.radio + label {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
}
.radio + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: grey;
}
.radio + label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: red;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
    opacity: 0;
    transition: .2s;
}
.radio:checked + label:after {
    opacity: 1;
}
.radio:focus + label:before {
    box-shadow: 0 0 0 3px rgba(70, 70, 67, 0.4);
}

p:not(.test){
    color: red;
}

.li {
    color: red;
}

.flexcroll {
    width: 400px;
    height: 200px;
    overflow: scroll;
}

.flexcroll::-webkit-scrollbar {
    width: 12px;
}

.flexcroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255,0,0,0.8);
}